@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* primary */
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* neutral */
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

html, body{
  margin: 0;
  padding: 0;
  background-color: var(--Light-Gray);
}
*, *::before, *::after{
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: : center;
  flex-direction: column;

}

 main{
  height: 500px;
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
 }

 .grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
 }

.top-container{
  grid-column: 1/9;
  background-color: white;
  padding: 2.1rem;
 
 }
 .top-container h1{
  color: var(--Cyan);
 }
 .top-container h3{
  color: var(--Bright-Yellow)
 }
 .top-container p{
   line-height: 1.6;
   color: var( --Grayish-Blue);
 }

.left-container{
  grid-row: 2;
  grid-column: 1/5;
  padding: 1rem 2rem;
  background-color: var(--Cyan);
  color: white;
}
.left-container span {
  font-size: 16px;
  font-weight: 400;
  color: var(--Light-Gray);
}
.left-container button{
  padding: 15px 90px;
  border: none;
  border-radius: 5px;
  background-color: var(--Bright-Yellow);
  font-weight: bold;
  color: white;
  cursor: pointer;

}

.right-container{
  grid-row: 2;
  grid-column: 5/9;
  padding: 1rem 2rem;
  background-color: hsl(179, 41%, 61%);
  color: whitesmoke;
}
.right-container p{
 font-weight: 200;
 color: var(--Light-Gray);
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}